#sidebar-top{margin-left:0;}
#sidebar-left{margin-left:0;}

.contentlist{background: #C08241 url(img/tabshow.gif) repeat-y top left;width:140px;padding:0 10px;}
.contentlist1{background:#65724B url(img/tabshow1.gif) repeat-y top left;width:140px;padding:0 10px;}